@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
*{
  margin: 0;padding: 0;
  /* overflow-x: hidden; */
  font-family:'Poor Story','cursive';
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}
.navbar-toggler{
  color: white;
}
#line{
  margin-top: 0;padding-bottom: 10px;width: 90%;margin:auto;
}
.navbar{
  margin: 0;
}
.navbar-brand{
  font-size: 30px !important;
}
.navbar a{
  color: white !important;
}
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}body{
  background-color: #0f1522 !important ;
  color: beige;
  font-weight: 500;
}
span{
  font-size: 2px;
}
.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}



footer a.text-light:hover { color: #fed136!important; text-decoration: none; }
footer .cizgi { border-right: 1px solid #535e67; }
@media (max-width: 992px) { footer .cizgi { border-right: none; } }
input:focus{
  outline: none !important;
}
.inpu{
  width: 250px;
  background-color: transparent !important;
  color: #ffffff !important;
  padding: 0 !important;
  height: 30px;
  margin-top: 10px !important;
/* margin: 0 !important; */
  font-size: large;
  border: none;
 border-bottom: 2px solid white;
}
.search{
  background-color: #46d106;
  color: white;
  width: 70px;
  margin: 5px;
  border-radius: 50px;}
.win{
  width: 100%;
  padding-left: 3%;
  overflow: hidden;
}
.win-body-list{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 147px !important;
  height: 190px;
  /* border: 3px solid red; */
  overflow: hidden;
  border-radius: 5%;
  cursor: pointer;
  padding-left: 10px;
}
#watch-later-btn{
  padding: 3px 10px;
  margin-top: 5px;
}
.checked {
  color: red;
}
img{
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 5%;

}
#nav-logo{
  width: 70px ;
  height: 50px;
  /* position: relative; */
  /* left: 10px; */
}
.win-head{
  color: aliceblue !important;
}
.win-body-list-poster{
  width: 147px;
  border-radius: 5%;

  height: 190px;
}
.overlay *{
  font-size: 14px;
  margin: 0;padding: 0;
  margin-left: 12px;
  color:white;

}
.overlay button{
  /* background-color: rgb(0, 0, 0); */
  color: black;
  font-size: 10px;

}
.overlay{
position: relative;
top: -190px;
width: 147px;
height: 190px;
background-color: rgba(0, 0, 0, 0.685);
visibility: hidden;
/* border: 3px solid red; */


border-radius: 5%;

}

.win-body-list:hover > .overlay{
  visibility: visible;
  border-radius: 5%;

  
}
.win-body-list:hover > .win-body-list-poster{
 filter: blur(1px);
  
}
.win-body-list:hover{
  transform: scale(1.05);
  transition: 0.2s ease-in-out ;
}




.movie-data-img{
  /* width: 145px !important;
  height: 200px; */
  cursor: pointer;
  width: 90%;

}

#win-body{
  display: flex;
flex-wrap: wrap;
margin-bottom: 15px;
  /* width: 300%; */
  /* overflow: scroll !; */
}


#ye
{
  width: 100%;
}
#red{
 color: #db0101;

}

/* ytytytytytyty */







#movie-site-img-div{
  width: 100% !important;
}

.dropdown-menu{
  background-color: #0f1522;
}
.dropdown-menu  li:hover >a {
  color: #0f1522;
}

#movie-site-detail p{
flex-wrap: wrap;
margin: 2px;padding: 0;
}

.btnplus{
  background-color: #ffffff;
  color: black;
  width: 150px;
  margin: 5px;
}
.btn-netflix{
  background-color: #db0101 !important;
  color: white;
  width: 150px;
  margin: 5px;
}



#movie-sec{
  display: flex; width: 80%; margin: auto; 
}



















































































.footer .container .footer-left .copyright {
  padding-top: 11px;
  padding-right: 15%;
  font-size: 12px;
  line-height: 1.8;
  color: var(--TEXT_COLOR_L3);
  font-weight: 400;
}
.footer .container .footer-right p {
  font-size: 14px;
  font-weight: 500;
  color: var(--TEXT_COLOR_L2);
  padding-bottom: 7px;
}
footer .container .footer-right .app-unit .store-wrapper a.playstore {
  margin-bottom: 5px;
}










/* ffffffffffooooooooooooooooooooottttttttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeerrrrrrrrrrrrrr */


@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
*{
    padding: 0px;
    margin: 0px;
}

body{
    background: #131315;
}

a{
    text-decoration: none;
}

.rohit-ul{
  margin-top: 35px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    padding: 0;
}

.rohit-ul div{
    width: 40px;
    height: 5px;
    background-color: #9581f4;
    margin: auto;
}

.rohit-ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    margin:  0 20px;
}

.rohit-ul li span{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex!important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 1.5s ease-out;
}

.rohit-ul li:hover span{
    transition: .3s;
}

.rohit-ul li:nth-child(2):hover span{
    background: #2c3456 !important;
}
.rohit-ul li:nth-child(3):hover span{
    background: #6a9aee !important;
}
.rohit-ul li:nth-child(4):hover span{
    background: #cc296c !important;
}
.rohit-ul li:nth-child(5):hover span{
    background: #2c3456 !important;
}


/* foooooter Section .......... */
/**footer section start**/
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0!important;
    background: #808080;
    position: relative;
}

.footersection p{
    color: #fff;
}

.footersection li{
    font-size: 0.9rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}

.footersection h3{
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.footer-div li a{
    color: #fff;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover{
    background: #606060;
}

.input-group-append button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00abff;
    border: none;
    border-radius: 10px;
    box-shadow: 5 0px #999;
}

.input-group-append button:hover {background-color: #606060}

.input-group-append button:active {
    background-color: #00abff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/**footer section end**/